<%= form_with(model: runner) do |form| %>
  <% if runner.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(runner.errors.count, "error") %> prohibited this runner from being saved:</h2>

      <ul>
        <% runner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
